.DS_Store

.project
.tmp_
log/*
tmp/*
db/*.sqlite3
db/schema.rb
public/system
public/assets
nbproject/
.idea/
storage
storage/**
public/javascripts/all*
public/stylesheets/all*
public/stylesheets/*.css
config/database.yml
*~
.DS_Store
webrat-*.html
capybara-*.html
rerun.txt
Thumbs.db
public/javascripts/tiny_mce/
local.diff
coverage.data
coverage/*
db/studio_staging.sql
public/studio_staging
public/uploads
public/api
config/local.rb
.bundle/
.~lock.*
.rvmrc
.ruby-version
.ruby-gemset
*.cache
*searchCache*
*.log
*.index
.log

/tags

# Living Style Guide
/app/assets/images/icon-*.png

