#wrapper {

  position:   absolute;

  top:  50%;
  left: 50%;

  width: 522px;
  height: 263px;

  margin: -132px 0 0 -261px;

  text-align: center;
}

#choose {
  margin-bottom: 79px;
}

#snes, #gameboy {
  margin-right: 38px;
}

